<footer class="p-4 bg-white shadow md:px-6 md:py-8 dark:bg-gray-900">
   <div class="sm:flex sm:items-center sm:justify-center">
      <div class="flex flex-shrink-0 items-center">
         <a routerLink="/home"> <img class="hidden h-10 w-auto lg:block" src="./../../../assets/imagem_logo.png"
               alt="Your Company"></a>
      </div>
   </div>
   <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
   <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2022 <a href="#"
         class="hover:underline">© Fábrica de Músicos</a>. Todos os direitos reservados
   </span>
</footer>