<footer class="p-4 bg-white shadow md:px-6 md:py-8 dark:bg-gray-900">
   <div class="flex items-center justify-center">
      <div class="flex flex-shrink-0 items-center">
         <a routerLink="/home"> <img class=" h-10 w-auto " src="./../../../assets/imagem_logo.png"
               alt="Your Company"></a>
      </div>
   </div>
   <hr class="my-6 border-gray-200 mx-auto dark:border-gray-700 lg:my-8" />
   <span class="block text-sm text-gray-500 text-center dark:text-gray-400">© 2023 <a href="#" class="hover:underline">©
         Fábrica de Músicos Luthier</a>. Todos os direitos reservados
   </span>
</footer>
